{{ form_start(formRecette) }}

<div class="row">
	<div class="col-md-4">
		{{ form_row(formRecette.titre)}}
	</div>
	<div class="col-md-4">
		{{ form_row(formRecette.categorie)}}
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		{{ form_row(formRecette.temps)}}
	</div>
	<div class="col-md-6">
		{{ form_row(formRecette.personne)}}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{{ form_row(formRecette.resumer)}}
	</div>

</div>
<div class="row">
	<div class="col-md-12">
		{{ form_row(formRecette.preparation)}}
	</div>

</div>

<input type="reset" class="btn btn-secondary" value="Annuler">
<input type="submit" class="btn btn-success" value="Enregistrer">
{{ form_end(formRecette) }}
